<!DOCTYPE html>
<html>
<head>
  <title>FuseV2App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= "#{controller_name}_controller #{action_name}_action" %>'>

<div class="container">
  <%= flash_container(flash) %>
  <%= yield %>
</div>

</body>
</html>
